<% provide(:title, '競技種目編集') %>
<% provide(:button_text, '更新する') %>
<div class="wrap">
    <%= link_to "←戻る", 'javascript:history.back()', class: "back text-decoration-none" %>
    <h2>競技種目を編集する</h2>
    <div id="form" class="content-form">
            <%= render 'shared/error_messages', user: @content %>
            <%= render 'content_form' %>
    </div>
</div>