<% provide(:title, 'ユーザーを探す') %>

<%= form_with(url: search_users_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :name, placeholder: "名前を入力して友達を探す", class: "search-input" %>
  <%= form.submit "検索", class: "btn btn-primary btn-sm search-btn" %>
<% end %>

<% if @users.any? %>
  <div class="user-list">
      <% @users.each do |user| %>
        <%= render partial: "/shared/users", locals: { user: user } %>
      <% end %>
  </div>
<% else %>
    <div class="no-results">
      <p>検索キーワードと一致するユーザーが見つかりません</p>
    </div>
<% end %>