<% provide(:title, 'ユーザーを探す') %>
<%= form_tag("/users/search",:method => 'get') do %>
<input name="name" id="" class="" type="text" value ="" placeholder="名前を入力して友達を探す">
<input type="submit" value="検索">
<% end %>

    <% @users.each do |user| %>
      <div class="card">
        <div class="">
          <img src="">
        </div>
        <div class="">
          <%= link_to(user.name, "/users/#{user.id}") %>
        </div>
        <button type="button" name="" id="" class="btn btn-primary btn-sm">フォロー</button>
      </div>
    <% end %>