                        <div class="action-bar">
                            <div class="reply-btn">
                                <%= link_to(micropost_comment_path(comment, comment_id: comment.id), class: "") do %>
                                    <span class="fa fa-comments reply-btn" aria-hidden="true">  <%= comment.replies.count %></span>
                                <% end %>
                            </div>
                            <div class="delete-btn">
                                <% if @current_user.id == comment.user.id && comment.present? %>
                                    <%= link_to(micropost_comment_path(comment, comment_id: comment.id), method: :delete, class: "delete-btn", data: { confirm: "このコメントを削除しますか？" }) do %>
                                        <span class="fa fa-trash delete-btn" aria-hidden="true"></span>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>