                    <p><%= micropost.content %></p>
                    <% if micropost.images.attached? %>
                        <div class="media">
                            <% micropost.images.each do |image| %>
                                <%= image_tag image %>
                            <% end %>
                        </div>
                    <% end %>