<%= link_to(like_path(micropost, micropost_id: micropost.id), method: :delete, remote: true) do %>
    <span id ="liked_count" class="fa fa-heart like-btn" aria-hidden="true">  <%= micropost.liked_users.count%></span>
<% end %>