<div class="card">
    <div class="">
        <img src="">
    </div>
    <div class="">
        <%= link_to(user.name, "/users/#{user.id}") %>
    </div>
    <button type="button" name="" id="" class="btn btn-primary btn-sm">フォロー</button>
</div>
