<div class="card">
    <div class="">
        <img src="">
    </div>
    <div class="test-branch">
        <%= link_to(user.name, user_path(user)) %>
    </div>
    <button type="button" name="" id="" class="btn btn-primary btn-sm">フォロー</button>
</div>
