<% provide(:title, "競技詳細") %>
<div class="wrap">
    <h2>競技詳細</h2>
    <div id="guide">  
            <h4>*絆度とは</h4>
            <p>どれだけの協力が必要を示す。<br><span class="important">友達との距離が一気に縮むかも！</span></p>
            <h4>*運動度とは</h4>
            <p>運動の激しさを示す。<br><span class="important">運動苦手な方もできるかも！</span></p>
    </div>

    <section>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-6 img-box">
                <%= image_tag "zunahiki.png", class:"card-img" %>
                </div>
                <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">綱引き</h5>
                    <p class="card-text">
                        力対力の戦い！自分の陣地に綱を引き寄せ！        
                        <ul class="index">
                            <li>絆度：★★★　</li>
                            <li>運動度：★★★ </li>
                        </ul>
                    </p>
                    <p class="card-text"><small class="text-muted">もっと見る >></small></p>
                </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-6 img-box">
                <%= image_tag "zunahiki.png", class:"card-img" %>
                </div>
                <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">二人三脚</h5>
                    <p class="card-text">
                        永遠のパートナーになる！？足を結び付けて走れ！      
                        <ul class="index">
                            <li>絆度：★★★★★　</li>
                            <li>運動度：★★ </li>
                        </ul>
                    </p>
                    <p class="card-text"><small class="text-muted">もっと見る >></small></p>
                </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-6 img-box">
                <%= image_tag "zunahiki.png", class:"card-img" %>
                </div>
                <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">騎馬戦</h5>
                    <p class="card-text">
                        白熱になる戦場！ヘルメットの風船を守ろう！      
                        <ul class="index">
                            <li>絆度：★★★★★</li>
                            <li>運動度：★★★</li>
                        </ul>
                    </p>
                    <p class="card-text"><small class="text-muted">もっと見る >></small></p>
                </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-6 img-box">
                <%= image_tag "zunahiki.png", class:"card-img" %>
                </div>
                <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">縄取り</h5>
                    <p class="card-text">
                        なわの取り合い？！縄を多く奪おう！      
                        <ul class="index">
                            <li>絆度：★★★</li>
                            <li>運動度：★★★★</li>
                        </ul>
                    </p>
                    <p class="card-text"><small class="text-muted">もっと見る >></small></p>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>