<% provide(:title, "当日の流れ") %> 
    <div class="wrap">
        <h2>当日の流れ</h2>
            <section class="table01">
                <div class="wrap01">
                    <p class="time-table">8:30</p>
                    <div class="detail1">
                        <ul>
                            <li class="color yellow"><span class="yellow_ch">黄</span>チーム入場</li>
                            <li>ゲーム制作科</li>
                            <li class="color orange"><span class="orange_ch">橙</span>チーム入場</li>
                            <li>CG映像制作科</li>
                            <li>情報システム開発科</li>
                            <li>電子応用工学科</li>
                        </ul>
                    </div>
                </div>
                <div class="wrap01">
                    <p class="time-table">8:45</p>
                    <div class="detail2">
                        <ul>
                            <li class="color blue"><span class="blue_ch">青</span>チーム入場</li>
                            <li>コンピューターグラフィックス科</li>
                            <li class="color red"><span class="red_ch">赤</span>チーム入場</li>
                            <li>ケーダイ・アプリケーション科</li>
                            <li>グラフィックデザイン科</li>
                            <li>アニメーション科</li>
                            <li>ネットワークセキュリティ科</li>
                            <li class="color white"><span class="white_ch">白</span>チーム入場</li>
                            <li>ゲーム制作研究科</li>
                            <li>情報ビジネスライセンス科</li>
                        </ul>
                    </div>
                </div>
                <div class="wrap01">
                    <p class="time-table">9:00</p>
                    <div class="detail3">
                        <ul>
                            <li span class="color pink"><span class="pink_ch">桃</span>チーム入場</li>
                            <li>情報処理科</li>
                            <li>電気工学科</li>
                            <li span class="color green"><span class="green_ch">緑</span>チーム入場</li>
                            <li>コンピューターグラフィックス</li>
                            <li>研究科</li>
                            <li>AIシステム科</li>
                            <li>アニメーション研究科</li>
                            <li span class="color purple"><span class="purple_ch">紫</span>チーム入場</li>
                            <li>ゲーム企画科</li>
                            <li>高度情報処理科</li>
                            <li>高度電気工学科</li>
                            <li>電気工事技術科</li>
                            <li>Webデザイン科</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="table02">
                <div class="wrap02">
                    <p class="time-table">10:00</p>
                    <ul>
                        <li class="star">★オープニング</li>
                    </ul>
                </div>
                <div class="wrap02">
                    <p class="time-table">10:30</p>
                    <ul>
                        <li><span class="title">クラス対抗リレー（予選）</span>
                            <br>※入場後、更衣を済ませたらメイン会場の召集場所へ</li>
                        <li><span class="title">綱引き</span>
                            <br>※『オープニング』終了後、メイン会場の召集場所へ</li>
                        <li><span class="title">二人三脚障害物競走</span>
                            <br>※『クラス対抗リレー（予選）』終了後、メイン会場の召集場所へ</li>
                    </ul>
                </div>
                <div class="wrap02">
                    <p class="time-table">12:15</p>
                    <ul>
                        <li><span class="title">クラス対抗リレー（準決勝）</span>
                            <br>※『綱引き』終了後、メイン会場の召集場所へ</li>
                        <li><span class="title">ショートダッシュ選手権</span>
                            <br>※『二人三脚』終了後、メイン会場の召集場所へ</li>
                        <li><span class="title">電子学園ウルトラクイズ</span>
                            <br>※号令で一斉にメイン会場の中央へ、
                            <br>制限時間内に集合した人のみが参加できます</li>
                    </ul>
                </div>
                <div class="wrap02">
                    <p class="time-table">13:15</p>
                    <ul>
                        <li><span class="title">騎馬戦</span>
                            <br>※『ショートダッシュ選手権』終了後、
                            <br>メイン会場の召集場所へ</li>
                        <li><span class="title">縄取り</span>
                            <br>※『ウルトラクイズ』終了後、
                            <br>メイン会場の召集場所へ</li>
                        <li><span class="title">だるま運び</span>
                            <br>※『騎馬戦』終了後、
                            メイン会場の召集場所へ</li>
                        <li><span class="title">玉入れ</span>
                            <br>※『縄取り』終了後、
                            メイン会場の召集場所へ</li>
                    </ul>
                </div>
                <div class="wrap02">
                    <p class="time-table">14:30</p>
                    <ul>
                        <li><span class="title">大玉運び</span>
                            <br>※全員参加。号令で
                            一斉に会場中央へ。30秒後に開始になります。</li>
                        <li><span class="title">クラス対抗リレー（決勝）</span>
                            <br>※『だるま運び』終了後、メイン会場の召集場所へ</li>
                        <li><span class="title">色別対抗リレー</span>
                            <br>※『だるま運び』終了後、メイン会場の召集場所へ</li>
                    </ul>
                </div>
                <div class="wrap02">
                    <p class="time-table">15:40</p>
                    <ul>
                        <li class="star">★フィナーレ・成績発表・表彰</li>
                    </ul>
                </div>
                <div class="wrap02">
                    <p class="time-table">16:10</p>
                    <ul>
                        <li class="minor">片付け</li>
                    </ul>
                </div>
                <div class="wrap02">
                    <p class="time-table">17:00</p>
                    <ul>
                        <li class="minor">終了・退場</li>
                    </ul>
                </div>
            </section>

            <section class="table3">
                <table id="table03">

                    <thead>
                        <tr>
                            <th scope="row" colspan="3">
                                アトラクション集合時間
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">種目</th>
                            <th scope="col">一回目</th>
                            <th scope="col">二回目</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ストラックアウト</td>
                            <td>10：30</td>
                            <td>13：15</td>
                        </tr>
                        <tr>
                            <td>ベースランニング</td>
                            <td>11：20</td>
                            <td>14：00</td>
                        </tr>
                        <tr>
                            <td>スピードガン</td>
                            <td>11：55</td>
                            <td>14：25</td>
                        </tr>
                    </tbody>
                </table>
                <p class="caption">※アトラクション会場は一塁側ベンチ前です。</p>
            </section>
    </div>