<%= javascript_pack_tag 'top', 'data-turbolinks-track': 'reload' %>
<% provide(:title, "HOME") %> 
<div class="mv-wrap">
    <div class="mv">
        <h1>
            <%= image_tag  "title.png" %>
        </h1>
        <p id="countdown">開催日まで、あと
		    <br><span id="day">224</span>日<span id="hour">6</span>時間<span id="min">50</span>分<span id="sec">39</span>秒
	    </p>
    </div>
    <a href="#introduction" class="jump"><span class="fa fa-3x fa-angle-double-down"></span></a>
</div>

<div data-scroll id="introduction" class="introduction">
    <div class="text-box">
        <p>
        今年のキャッチコピーは<br>
        楽しさの限界へ
        </p>
        <p>
        一年一回の行事<br>
        全校生徒が同じ場所に集まる唯一のチャンス<br>
        他学科の友達が増えるかも！
        </p>
        <p>
        CampusTweetを使って<br>
        校内の先輩、後輩とつなぐ<br>
        スポフェスの歴史、未来とつなぐ
        </p>
        <span class="movie-open" data-target="movie">Digest Movie >></span>
    </div>
</div>
        <div id="movie" class="movie" style="display:none">
            <div class="movie-box">
                <button class="movie-close"><span>&times;</span></button>
                <div class="movie-inner">
                    <iframe width="80%" height="100%" 
                            src="https://www.youtube.com/embed/-vgiNdWcNJQ" 
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
