// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$main-color: rgb(230, 180, 45);
$sub-color: #333;

body {
  text-align: center;
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("~bg_dome") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

a {
  &:hover {
    text-decoration: none;
  }
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $sub-color;
}

.wrap {
  border-radius: 80px;
  margin: 10% auto;
  background-color: rgba(255, 209, 77, 0.9);
  color: $sub-color;
  padding: 40px;
  width: 80%;
  max-width: 550px;
}

h3 {
  margin-bottom: 1.5rem;
}

// header
header {
  background-color: $sub-color;

  .logo {
    height: 50px;
    width: 50px;

    .logo-image {
      display: block;
      margin-top: -2%;
    }

    h1 {
      font-size: 16px;
      color: $main-color;
      margin: 5% 0 0;
    }
  }

  .navbar-brand {
    margin-right: 6rem;
  }

  button {
    z-index: 999;

    span {
      width: 34px;
      height: 3.5px;
      background-color: $main-color;
      display: block;
      margin-bottom: 7.5px;
    }
  }

  .dropdown-menu {
    background-color: #3c3c3c;
    border: none;
    min-width: 0rem;
    margin: 0;
  }

  .dropdown-item {
    color: $main-color;
    text-align: left;
    font-weight: bold;
  }

  .nav-link {
    color: $main-color;

    &:hover {
      background-color: #f8f9fa;
      color: #333 !important;
    }
  }
}

// home#top
.mv-wrap {
  height: 100vh;

  .jump {
    display: block;
    width: 70px;
    margin: -7% auto 0;
    background-color: rgba(255, 209, 77, 0.9);
    padding: 1%;
    border-radius: 40px;

    .fa-angle-double-down {
      color: #fff;
    }
  }

  .mv {
    border-radius: 200px;
    margin: 10% 30%;
    background-color: rgba(255, 209, 77, 0.9);
    color: $sub-color;
    padding: 30px;

    #countdown {
      font-weight: 700;
      color: #383737;
      margin: 20px 0 0;
      font-size: 20px;

      span {
        font-size: 36px;
        background-color: #fafafa;
        display: inline-block;
        padding: 0 10px;
        margin: 0 5px;
        border-radius: 8px;
      }

      b {
        font-size: 42px;
      }
    }
  }
}

.introduction {
  background: url("~introduction") center center no-repeat;
  background-size: cover;
  padding: 1%;
  height: 115vh;

  .text-box {
    margin: 7% 30%;
    padding: 4%;
    background-color: rgba(255, 209, 77, 0.8);
    border-radius: 130px;

    h3 {
      font-weight: bold;
      font-size: 26px;
      line-height: 1.5;
      color: #333;

      b {
        font-size: 24px;
        display: inline-block;
        padding: 5px 20px;
        border-radius: 8px;
        background-color: #fafafa;
      }
    }

    p {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      line-height: 1.8;
    }
  }
}

// movie
.movie-open {
  cursor: pointer;
  color: #337ab7;
  font-weight: bold;
  font-size: 18px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;

  .modal-box {
    padding: 4%;
    width: 100%;
    height: 70vh;
    max-width: 890px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 209, 77, 0.9);
    border-radius: 80px;

    .modal-inner {
      height: 100%;
    }

    .modal-close {
      margin: 2%;
      position: absolute;
      right: 35px;
      top: 30px;
      border: 3px #333 solid;
      background: none;
      font-size: 40px;
      font-weight: bold;
      color: #333;
      border-radius: 40px;
      outline: none;
      width: 50px;
      height: 50px;

      .close-icon {
        display: block !important;
        margin: -16px 0 -5px !important;
        font-size: 100% !important;
      }
    }
  }
}

.map {
  width: 100%;
  max-width: 600px;
  background-color: rgb(255, 209, 77);
  border: 5px solid rgb(255, 209, 77);
  border-radius: 40px;
  margin: 100px auto 40px;
  padding: 50px 40px;

  iframe {
    width: 100%;
    height: 35vw;
    // filter: grayscale(100%);
    // vertical-align: bottom;
  }

  h3 {
    margin-top: 40px;
    background-color: #fafafa;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
  }
}

// form base
input,
select {
  display: block;
  margin: 0 auto 20px;
}

select {
  padding: 3px 2px 6px;
}

input[type="submit"] {
  display: inline-block;
  margin: 0;
  background-color: rgb(233, 160, 64);

  &:hover {
    background-color: rosybrown;
    color: #f2f2f2;
  }

  &:active {
    background-color: rosybrown;
    color: #f2f2f2;
    box-shadow: 1px 1px 2px 0px rosybrown;
  }
}

// btn
.btn-group {
  margin: 20px auto 10px;

  .btn {
    border-radius: 10px;
    outline: none !important;
    color: rgb(233, 160, 64);
    background-color: #ebe4dc;

    &:hover,
    &:focus {
      color: #fcf5ec;
      background-color: rgb(233, 160, 64);
    }

    h4 {
      font-size: 1rem;
      margin-bottom: 0;
    }
  }

  .active {
    color: #fcf5ec;
    background-color: rgb(233, 160, 64);
  }
}

//add content btn
.add-btn {
  margin-top: 20px;
}

// back btn

.back {
  background-color: #f2f2f2;
  color: #337ab7;
  padding: 20px 10px;
  border-radius: 60%;
  display: inline-block;
  position: fixed;
  top: 40%;
  left: 25.5%;
  z-index: 888;
}

// follow中btn
.following {
  background-color: #e4ddd3 !important;
  color: rgb(233, 160, 64) !important;
}

.form {
  margin: 20px auto;

  .underline {
    text-decoration: underline
  }
}

// new post form
.newpost-area {
  margin: 20px auto 0;
  width: 80%;
}

// comment form
.form-comment {
  position: fixed;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

// reply form
.form-reply {
  position: sticky;
  top: 75px;
}

.reply-to {
  cursor: pointer;
}

// text count
#count {
  text-align: right;
}

.count-newpost {
  margin-right: 50px;
}

.count-right {
  margin: -30px 0 0;
}

.count-content {
  margin: -20px 32% 20px;
}

.green {
  color: green;
}

.red {
  color: red;
}

//  error msg & flash
#error_explanation {
  color: rgb(206, 49, 49);
  margin: 35px auto;
  padding: 8px 20px 8px 0;
  background-color: lightgoldenrodyellow;

  li {
    list-style-type: none;
    margin: 10px;
  }

  a {
    display: inline-block;
    padding: 5px;
  }

  section {
    margin-top: 60px;
  }
}

.alert {
  margin-top: 66px;
}

//footer
footer {
  background-color: $sub-color;
  color: $main-color;
  padding: 5px 0 8px;
  width: 100%;
  margin-top: 150px;

  address {
    margin: -4px 0 0;

    a {
      color: $main-color;
      text-decoration: none;
    }
  }
}