// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$main-color: rgb(230, 180, 45);
$sub-color: #333;

body {
  text-align: center;
  background-image: url("~bg_dome.jpg");
  background-attachment: fixed;
  background-size: cover;
}

img {
  width: 100%;
}

main {
  color: $sub-color;
}

.wrap {
  border-radius: 80px;
  margin: 7% auto;
  background-color: rgba(255, 209, 77, 0.9);
  color: $sub-color;
  padding: 40px;
  width: 80%;
  max-width: 550px;
}

h3 {
  margin-bottom: 1.5rem;
}

// header
header {
  background-color: $sub-color;

  .logo {
    height: 50px;
    width: 50px;

    .logo-image {
      display: block;
      margin-top: -2%;
    }

    h1 {
      font-size: 16px;
      color: $main-color;
      margin: 5% 0 0;
    }
  }

  button {
    z-index: 999;

    span {
      width: 34px;
      height: 3.5px;
      background-color: $main-color;
      display: block;
      margin-bottom: 7.5px;
    }
  }

  .dropdown-menu {
    background-color: #3c3c3c;
    border: none;
    // width: 60%;
    margin: 0;
  }

  .dropdown-item {
    color: $main-color;
    text-align: center;
    font-weight: bold;
  }

  .nav-link {
    color: $main-color;

    &:hover {
      background-color: #f8f9fa;
      color: #333 !important;
    }
  }
}

// home#top
.mv {
  border-radius: 200px;
  margin: 7% 30%;
  background-color: rgba(255, 209, 77, 0.9);
  color: $sub-color;
  padding: 30px;
}

// form base
input,
select {
  display: block;
  margin: 0 auto 20px;
}

select {
  padding: 3px 2px 6px;
}

input[type="submit"] {
  display: inline-block;
  margin: 0;
  background-color: rgb(233, 160, 64);

  &:hover {
    background-color: rosybrown;
    color: #f2f2f2;
  }

  &:active {
    background-color: rosybrown;
    color: #f2f2f2;
    box-shadow: 1px 1px 2px 0px rosybrown;
  }
}

// btn
.btn-group {
  margin: 20px auto;

  .active {
    color: rgb(233, 160, 64);
    background-color: #e4ddd3;
  }

  .btn {
    border-radius: 10px;
    outline: none !important;

    &:hover,
    &:focus {
      color: rgb(233, 160, 64);
      background-color: #e4ddd3;
    }
  }
}

// back btn

.back {
  background-color: #f2f2f2;
  color: #337ab7;
  padding: 20px 10px;
  border-radius: 60%;
  display: inline-block;
  position: fixed;
  top: 40%;
  left: 25.5%;
}

// follow中btn
.following {
  background-color: #e4ddd3 !important;
  color: rgb(233, 160, 64) !important;
}

.form {
  margin: 20px auto;
}

// new post form
.newpost-area {
  margin: 20px auto;
  width: 80%;
}

// comment form
.form-comment {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

// reply form
.form-reply {
  position: sticky;
  top: 75px;
}

.reply-to {
  cursor: pointer;
}

//  error msg
#error_explanation {
  color: rgb(206, 49, 49);
  margin: 35px auto;
  padding: 8px 20px 8px 0;
  background-color: lightgoldenrodyellow;

  li {
    list-style-type: none;
    margin: 10px;
  }

  a {
    display: inline-block;
    padding: 5px;
  }

  section {
    margin-top: 60px;
  }
}