.form {
    margin: 20px auto;
}

#form {
    z-index: 100;

    .row {
        margin: 5px auto;
        display: flex;
    }

    input[type="submit"] {
        margin: 0;
        background-color: #e4d3d3;

        &:hover {
            background-color: rosybrown;
            color: #f2f2f2;
        }

        &:active {
            background-color: rosybrown;
            color: #f2f2f2;
            box-shadow: 1px 1px 2px 0px rosybrown;
        }
    }
}

// new post form
.newpost-area {
    margin: 20px auto;
}


// comment form
.form-comment {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

// reply form
.form-reply {
    position: sticky;
    top: 75px;
}

.reply-to {
    cursor: pointer;
}