//  user-profile
.user-info span {
    display: block;
}

.user-list {
    width: 40%;
    margin: 20px auto;

    .card {
        display: block;
        margin: 20px auto;
    }
}

.profile-actions-wrap {
    margin: 20px auto 40px;

    .profile-actions {
        margin: 10px;

        a {
            display: inline-block;
            margin: 0 5px;
        }

        span {
            color: #337ab7;
        }
    }
}

.user-image {
    background-color: #ccc;
    width: 50px;
    height: 50px;
    margin: 5px auto;
}

// login btn
input[type="submit"] {
    margin-bottom: 20px;
}