//  user-profile

.user-info {
  margin: 20px;

  span {
    display: block;
  }
}

.user-list {
  width: 40%;
  margin: 20px auto;

  .card {
    display: block;
    margin: 20px auto;
  }
}

.profile-actions-wrap {
  margin: 20px auto 40px;

  .follow-status {
    font-weight: bold;
  }

  .account-del {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 3px;
    background-color: #f2f2f2;
  }

  .profile-actions {
    margin: 10px;

    a {
      display: inline-block;
      margin: 0 5px;
    }

    span {
      color: #337ab7;
    }
  }
}

.user-image {
  background-color: #ccc;
  width: 100px;
  height: 100px;
  margin: 5px auto;
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

.participation {
  margin: 8px 15px 15px;
  padding: 8px 0 15px;
  border-bottom: #333 solid 1px;
  font-size: 0.9rem;
}

// login btn
input[type="submit"] {
  margin-bottom: 20px;
}