// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment {
  background-color: #f1f1f1;
  width: 60%;
  margin: 20px auto;
  padding: 5px;

  .post {
    width: 100%;
    margin: 5px auto;
  }
}

#comment_form {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  .row {
    display: flex;
  }

  input[type="submit"] {
    margin: 0;
  }
}

.no-comment {
  margin: 0;
  text-align: center;
}