// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment {
  background-color: #f1f1f1;
  width: 60%;
  margin: 20px auto;
  padding: 5px;

  .post {
    width: 100%;
    margin: 5px auto;
  }
}

#form {
  .row {
    margin: 5px auto;
    display: flex;

    input[type="submit"] {
      margin: 0;
      background-color: #e4d3d3;

      &:hover {
        background-color: rosybrown;
        color: #f2f2f2;
      }

      &:active {
        background-color: rosybrown;
        color: #f2f2f2;
        box-shadow: 1px 1px 2px 0px rosybrown;
      }
    }
  }
}

.form-comment {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  .no-comment {
    margin: 0;
    text-align: center;
  }
}