// Place all the styles related to the microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-box {
    background-color: #f2f2f2;
    margin: 20px auto;
    padding: 15px;
    width: 50%;
}