// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: center;
}

main {
  margin: 15%;
  color: rosybrown;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: rgb(206, 49, 49);
  margin: 35px auto;
  padding: 8px 20px 8px 0;
  background-color: lightgoldenrodyellow;

  li {
    list-style-type: none;
    margin: 10px;
  }

  a {
    display: inline-block;
    padding: 5px;
  }

  section {
    margin-top: 60px;
  }

}